body{
     margin: 20px 50px; 
     /* espaço bordas    */


background-color: rgb(172, 183, 197);
color: rgb(1, 12, 12);

padding: 10px; 
/* padding é o espaçamento dos texto */

}




.titulo-de-artigo2{
    
 
    background-color: rgb(204, 26, 26);
    color:rgb(40, 7, 190);
    padding: 20px;
    border-radius: 20px;
    margin: 0px;
 padding-top:0 px ;
}

.subtitulo-de-pagina{
    color:  #4F709C;
    line-height: 2.1;
    font-weight: bold;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 80;
    background-color: rgb(10, 10, 27); color: rgb(246, 248, 247);


}

.titulo-de-artigo{
    color:  #ecebe4;
    line-height: 2.1;
    font-weight: bold;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40;
    background-color: rgb(204, 26, 26)
}

.titulo-de-secao{
    color: rgb(24, 10, 90);
    line-height: 2.1;
    font-weight: bold;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40;
    
    border-radius: 20px; 
}

.paragrafo{
padding: 10px;

border-radius: 40px; 

}